{% extends 'base.html.twig' %}

{% block title %}PackJeton index{% endblock %}


{% block css %} 
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %} 
<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>
{% endblock %}

{% block body %}
    <h1>PackJeton index</h1>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbjetons</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pack_jeton in pack_jetons %}
            <tr>
                <td>{{ pack_jeton.id }}</td>
                <td>{{ pack_jeton.nbjetons }}</td>
                <td>{{ pack_jeton.description }}</td>
                <td>{{ pack_jeton.prix }}</td>
                <td>
                    <a href="{{ path('pack_jeton_show', {'id': pack_jeton.id}) }}">show</a>
                    <a href="{{ path('pack_jeton_edit', {'id': pack_jeton.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pack_jeton_new') }}">Create new</a>
{% endblock %}
