{% extends 'base.html.twig' %}

{% block title %}Pack jeton{% endblock %}

{% block body %}
    <h1>Pack jeton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pack_jeton.id }}</td>
            </tr>
            <tr>
                <th>Nbjetons</th>
                <td>{{ pack_jeton.nbjetons }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pack_jeton.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ pack_jeton.prix }}</td>
            </tr>
        </tbody>
    </table>
    

    <a class='btn btn-primary' href="{{ path('achat_new') }}">Acheter !</a></br>

    <a class='btn btn-info' href="{{ path('pack_jeton_index') }}">Retourner a la liste des pack jetons</a></br>

    {% if is_granted('ROLE_MODO') %}

    <a class='btn btn-warning' href="{{ path('pack_jeton_edit', {'id': pack_jeton.id}) }}">Modifier</a>
    {{ include('pack_jeton/_delete_form.html.twig') }}

    {% endif %}
    

{% endblock %}
