{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Reference</th>
                <td>{{ produit.reference }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="300" height="300" src="{{produit.image}}" /></td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ produit.descriptif }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-primary' href="{{ path('historique_enchere_new') }}">Aller encherir !!</a>

{% endblock %}
