<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | Enchere
            {% endblock %}
        </title>
        {% block stylesheets %}
            {# bootstrap #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# custom #}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header id="header" class="bck1 border-bottom">
                <div class="container">
                    <h1>{% if title is defined %}{{title}}{% else %}Header{% endif %}</h1>
                </div>
            </header>      
        {% endblock %}
        


        {% block nav %}
            <nav id="main-nav" class="container navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
                <div class="navbar-nav">
                    <div class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                        <button class="btn btn-outline-success mr-2" type="button"><a class="nav-link" href="{{path('app_index')}}">Accueil</a></button>
                    </div>
                    <div class="dropdown my-auto">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        Catégorie
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Pour nos membres</div>
                        <a class="dropdown-item" href="{{ path('produit_index') }}">Les produits</a>
                        <a class="dropdown-item" href="{{ path('enchere_index') }}">Les enchère</a>
                        <a class="dropdown-item" href="{{ path('historique_enchere_index') }}">Historique des enchères</a>
                        {% if is_granted('ROLE_USER') %}
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Catégorie Utilisateurs</div>
                        <a class="dropdown-item" href="{{ path('user_jeton') }}">Vos jetons</a>
                        {% endif %}
                        {% if is_granted('ROLE_MODO') %}
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Catégorie Modérateurs</div>
                        <a class="dropdown-item" href="{{ path('produit_new') }}">Ajouter un produit</a>
                        <a class="dropdown-item" href="{{ path('enchere_new') }}">Ajouter une enchere</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">Catégorie Administrateurs</div>
                        <a class="dropdown-item" href="{{ path('admin_utilisateurs') }}">Modifier les utilisateurs</a>
                        {% endif %}
                    </div>
                </div>
            </div>

                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <div class="nav-link border-right border-left">{{ app.user.pseudo }}</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-right border-left" href="{{path('app_logout')}}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %} border-right border-left">
                            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                        </li>
                        <li class="nav-item {% if mainNavLogin is defined %}active{% endif %} border-right border-left">
                            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}

        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

        <div class="container bck1 padded">
            {% block body %}
            {% endblock %}
        </div>

        {% block footer %}
            <footer id="footer" class="bck1 border-top">
                <div class="container">
                    <h5>Created by GODIER Ludovic and LASCOUTOUNAS Mickael</h5>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>