{% extends 'base.html.twig' %}

{% block title %}Enchere index{% endblock %}


{% block css %} 
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %} 
<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#table').DataTable();
} );
</script>
{% endblock %}

{% block body %}

<style>
    .SEP{  display: block;
            width: 90px;
            height: 40px;
            font-size:15px;
            }
    #texteButton{color: #FFFFFF; text-align: center;}
</style>

    <h1>Enchere index</h1>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Reference</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enchere in encheres %}
            <tr>
                <td>{{ enchere.id }}</td>
                <td>{{ enchere.dateDebut ? enchere.dateDebut|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ enchere.dateFin ? enchere.dateFin|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ enchere.produit.reference ? enchere.produit.reference}}</td>
                <td> <img width="200" height="200" src="{{enchere.produit.image}}" /></td>
                <td>
                    <a class="btn btn-primary SEP" class="nav-link" href="{{ path('enchere_show', {'id': enchere.id}) }}"><div id = "texteButton">voir</div></a>
                    <a class="btn btn-warning SEP" class="nav-link" href="{{ path('enchere_edit', {'id': enchere.id}) }}"><div id = "texteButton">modifier</div></a>
                    {{ include('enchere/_delete_form.html.twig') }}
                </td>
            </tr>   
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class='btn btn-primary' href="{{ path('enchere_new') }}">Ajouter une nouvelle enchère</a>
{% endblock %}
