{% extends 'base.html.twig' %}

{% block title %}Enchere{% endblock %}

{% block body %}
    <h1>Enchere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ enchere.produit.reference ? enchere.produit.reference}}</th>
            </tr>
            <tr> 
                <th><img width="300" height="300" src="{{enchere.produit.image}}" /></th>
                <th> <br/><br/><br/><br/><br/><br/><br/><br/><label>Montant que vous souhaitez misez :</label><br/>
                <input type="number" name="montant" id="montant" class="form-control" placeholder="Montant" required>
                <a class='btn btn-primary' href='historique_enchere_new'>Encherir !!</a></th>
                
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ enchere.dateDebut ? enchere.dateDebut|date('d/m/Y à H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ enchere.dateFin ? enchere.dateFin|date('d/m/Y à H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-primary' href="{{ path('enchere_index') }}">Retourner a la liste des enchère</a>

{% endblock %}
